@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --primaryColor: #ad91cf;
    --secondaryColor: rgb(196,169,230);
    --blackColor: rgb(46,46,71);
    --borderColor: rgb(46,46,71);
    --inputColor: rgb(241,241,241);
    --successColor: rgb(205,237,207);
    --failureCOlor: rgb(255,0,0);
}

.nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 75px;
    line-height: 80px;
    z-index: 111;
    background-color: rgb(203, 181, 228);
}

.logo{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #161616;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}


.navItems{
    display: flex;
}

.navItems li{
    list-style: none;
    margin: 0 15px;
}

.navItems li a{
    font-size: 20px;
    color: #3d535f;
    text-decoration: none;
    text-transform: capitalize;
}

.navItems li:hover a{
    color: black;
}


body{
    background-image: url("../image/scenery.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.wrapper{
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}

.cols{
    width: 50%;
}

.cols0{
    width: 80%;
    z-index: 5;
}

.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 3px;
}

.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: rgb(255, 255, 255);
}

h1{
    display: block;
    font-size: 4em;
    font-weight: 900;
    color: #3d535f;
}

.multiText{
    color: rgb(0, 0, 0);
    text-transform: capitalize;
}

p{
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 3em;
    color: black;
}

.imgbox{
    position: relative;
    image-resolution: 300 300px;
    height: auto;
    width: calc(95% - 50px);
    top: -0px;
    left: 40px;
}

.imgbox img{
    position: relative;
    image-resolution: 300 300px;
    height: auto;
    width: calc(95% - 50px);
    top: -0px;
    left: 30px;
    animation: animateUser 4s linear infinite;
}


.box{
    background: var(--primaryColor);
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgb(0, 0, 0),
                0 32px 64px -48px rgba(0,0,0,0.5);
}

.form-box{
    width: 450px;
    margin: 0px 10px;
}

.form-box header{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 5px solid var(--secondaryColor);
}

.form-box form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.form-box form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 0px solid #ccc;
    outline: none;
}

.btn{
    height: 35px;
    background: var(--blackColor);
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
}

.btn:hover{
    opacity: 0.82;
}

.submit{
    width: 100%;
}

.links{
    display: block;
    margin-bottom: 15px;
    margin-top: 1rem;
    text-align: center;
    color: var(--blackColor);
}

.links a{
    text-decoration: none;
    color: var(--blackColor);
}

.links a:hover{
    opacity: 0.82;
}

.message{
    text-align: center;
    background: #f9eded;
    padding: 15px 0px;
    border: 1px solid var(--secondaryColor);
    border-radius: 5px;
    margin-bottom: 10px;
    color: var(--failureCOlor);
}

